<div>
    <iframe id="child_frame" name="child_frame_{{cuerpo_id}}" scrolling="no"
          src="{{path('examenicfes_informes',{'cuerpo_id': cuerpo_id,'tipo':0 })}}"
          style="width: 100%;border: none;height: 350px;">
                 Tu navegador no soporta el elemento iframe.
    </iframe>
</div>
