
<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Grupo </th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Grado </th>
            <td>{{ entity.grado }}</td>
        </tr>
    </tbody>
</table>
<button class="btn" onclick="indexGrupoinfoAcademicaDefectoAno();"> Atras</button>