<form class="form-horizontal">
<div class="form-group">
    <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> Nueva Contraseña </label>
    <div class="col-sm-9">
        <input type="password" class="col-xs-10 col-sm-5"  id="input_nueva_contrasena_usuario">
    </div>
</div>
<div class="form-group">
    <label for="form-field-1" class="col-sm-3 control-label no-padding-right"> Repetir Nueva Contraseña</label>
    <div class="col-sm-9">
        <input type="password" class="col-xs-10 col-sm-5"  id="input_repita_contrasena_usuario">
    </div>
</div>
<button class="btn btn-xs btn-primary pull-right" onclick="updateperfiladminContrasenaUsuario({{id}});">Actualizar Contraseña</button>

</form>
