
<div class="well">
<label>Nueva Contraseña</label>
<input type="password" id="input_nueva_contrasena_usuario" /><br>
<label>Nueva Contraseña</label>
<input type="password" id="input_repita_contrasena_usuario" /><br />
<button class="btn btn-primary" onclick="updateContrasenaUsuario();">Actualizar Contraseña</button>
</div>