<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Atributos De Alumnos.</h3>
</div>
<div class="modal-body"> 
    <div id="seleccionar__filtros_buscar_usuario">
        <fieldset>
            <legend>
                Aplica Solo Usuarios ALUMNOS.                
            </legend>
            <label class="checkbox">
                    <input type="checkbox"> Fecha Nacimiento.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Depto Nacimiento.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Municipio Nacimiento.
            </label>                   
            <label class="checkbox">
                    <input type="checkbox"> Genero.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Tipo Sangre.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Estrato.
            </label>                   
            <label class="checkbox">
                    <input type="checkbox"> Sisben.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Eps.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Ars.
            </label>                   
            <label class="checkbox">
                    <input type="checkbox"> Poblacion Victima Del Conflito.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Discapacidad.
            </label>   
            <label class="checkbox">
                    <input type="checkbox"> Capacidad Excepcionales.
            </label>                                  
        </fieldset>
            
        <fieldset>
            <legend>
                Aplica Solo Usuarios PROFESORES.
                
            </legend>
        </fieldset>    
    </div>                        
    <div id="contratos_profesor_id" style="border: thin gray;width: 200px;height: 150px;float: right">
    
    </div>  
    <div style="clear: both"></div>                       
</div>
<div class="modal-footer">
     <a href="#" class="btn" data-dismiss="modal">
         Listo.
     </a>
    <button type="submit" id="" class="btn btn-primary" onclick="">
        Crear
    </button>
</div>