<span style="float: right;">
                     {{ano_escolar_activo}}/{{periodo_escolar_activo}} <a 
                    href="{{path('colegio_configuracioncolegio')}}" 
                    data-toggle="modal" data-target="#myModal_generica">Cambiar
                 </a>
      
</span>
     