  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Cambiar año escolar|periodo escolar </h4>
      </div>
      <div class="modal-body">
        <div id="accordion">                              
  
        <form method="post" action="#" name="config_colegio" id="config_colegio">
        <div id="new_colegio_ano_escolar">                                                                
               <div>                                
           {%include "NetpublicCoreBundle:Colegio:_configuracion.html.twig" 
                                with 
                                {
                                    "ano_escolar_activo" :ano_escolar_activo,
                                    "periodo_escolar_activo":periodo_escolar_activo,
                                    "anos_escolares" : anos_escolares
                                    }%}
               </div>
     </div>
            <div class="clearfix"></div>       
  <div class="col-lg-3 pull-right">          
  </div>  
        </form>        
 </div>                  
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" onclick="updateAnoEscolarDefecto();">Cambiar Ahora!!</button>
      </div>
    </div>
  </div>

