{% extends 'NetpublicCoreBundle::layout.html.twig' %}
{% block title %}
Ojo pero no estas en la RED SABER.
{% endblock %}
{%block  sub_container  %}
<h3 class="well" style="color: red;">
    <img src="{{ asset('bundles/netpubliccore/images/ct.jpg') }}" alt="InachoLee" /><br/>
                 
    Lo sentimos pero la {{sede_principal}} no esta registrada en la RedSaber.<br/> Para mas información escribenos al email inacholee.colombia[arroba]gmail.com
    o comunicate con tu tutor regional.
</h3>
{%endblock%}