<table class="table table-bordered">
    <thead>
        <tr>
            <th>Label</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nombre Colegio</td>
            <td>&#123;&#123;colegio }}</td>
        </tr>
        <tr>
            <td>Nombre Completo Alumno</td>
            <td>&#123;&#123;alumno}}</td>
        </tr>
        <tr>
            <td>Grado del Alumno</td>
            <td>&#123;&#123;alumno.grado}}</td>
        </tr>
        <tr>
            <td>Grupo del Alumno</td>
            <td>&#123;&#123;alumno.grupo}}</td>
        </tr>
        <tr>
            
            <td>Año Escolar áctivo.</td>
            <td>&#123;&#123;ano_escolar_activo}}</td>
        </tr>
        <tr>
            
            <td>Periodo Escolar activo</td>
            <td>&#123;&#123;periodo_escolar_activo}}</td>
        </tr>
        <tr>
            
            <td>Rector</td>
            <td>&#123;&#123;rector}}</td>
        </tr>
        <tr>

            <td>Promedio Grupo</td>
            <td>&#123;&#123;promedio_grupo}}</td>
        </tr>
        <tr>
            <td>Promedio Del Estudiante</td>
            <td>&#123;&#123;promedio_estudiante}}</td>
        </tr>
        <tr>
            <td>Numero Alumnos Del Grupo</td>
            <td>&#123;&#123;nro_alumnos_grupo}}</td>
        </tr>

        <tr>
            <td>Puesto</td>
            <td>&#123;&#123;puesto}}</td>
        </tr>
        <tr>
            <td>Cuerpo Tabla con Notas-Boletin</td>
            <td>&#123;&#123;tabla_notas_boletin_defecto}}</td>
        </tr>
        <tr>
            <td>Cuerpo resumido con logros y notas del estudiante</td>
            <td>&#123;&#123;tabla_notas_logros_resumen_boletin}}</td>
        </tr>

        <tr>
            <td>Cuerpo con logros y notas del estudiante</td>
            <td>&#123;&#123;tabla_notas_logros_caritasfelices_boletin_defecto}}</td>
        </tr>
        
        <tr>
            <td>Foto Del Alumno</td>
            <td>&#123;&#123;foto_alumno}}</td>
        </tr>
        <tr>
            <td>Foto Del Alumno en Circulo</td>
            <td>&#123;&#123;foto_alumno_circulo}}</td>
        </tr>
        <tr>
            <td>Foto Del Alumno</td>
            <td>&#123;&#123;foto_alumno_cuadrado}}</td>
        </tr>
        <tr>
            <td>Cuerpo para la Constancia De estudio</td>
            <td>&#123;&#123;tabla_constacia_defecto}}</td>
        </tr>
        <tr>
            <td>Cuerpo para la Constancia De estudio</td>
            <td>&#123;&#123;tabla_certificado_defecto}}</td>
        </tr>
        
        
    </tbody>
</table>