{% extends 'NetpublicCoreBundle::layout.html.twig' %}
{% block title %}
COnfiguración de iNachoLee++
{% endblock %}
{%block  sub_container  %}
<h3 class="well">
Configuración de iNachoLee Plus
</h3>
<div class="well col-md-12">
    <h4>Realizar Recuperación Del  Sistema</h4>
    <p>
        En caso de daño o perdida del sistema iNachoLee Plus, puedes restaurar el sistema completamente.<strong>Es buena hacer una por periodo academico</strong> 
    </p>
    <div class="col-md-12">
        <div class="col-md-5"> 
        <button class="btn btn-default" onclick="realizarBackUp();"><i class="icon icon-download"></i> Realizar Backup Ahora! </button>
        </div>
        <div  class="col-md-7" id="container-backup"></div>
    </div>
</div>    
<div class="well col-md-12">
    <h4>Actualizar Sistema iNachoLee(Plush)</h4>
    <p>
        Nuestras mejoras y las nuevas funcionalidades puedes descargarla ahora con un solo click. 
    </p>
    <div class="col-md-12">
        <div class="col-md-5"> 
        <button class="btn btn-default" onclick="realizarActualizacioniNL();"><i class="icon icon-refresh"></i> Actualizar iNachoLee Ahora! </button>
        </div>
        <div  class="col-md-7" id="container-ainl"></div>
    </div>
</div>    

<div class="col-md-12">
        <h5>Sistema Wifi(Red inalambrica RedSaber)</h5>
        <div class="col-md-12">
        Estado: Activo <button class="btn btn-default">Parar</button>
        </div> 
        <div class="form-group col-md-2">
            <label>Canal</label>
            <select class="form-control">
            
                <option>6</option>
                <option>7</option>
                <option>8</option>
                
            </select>
        </div>
    </div>
    <div class="col-md-12">
    </div>
    
        Tenemos una nueva versión para usted <button onclick="procesarActualizacioniNachoLee();" class="btn btn-primary"><i class="icon icon-download"></i> Actulizar</button> 
    

{%endblock%}