<div class="container_especial_imprmir" style="
     margin: 0 0 0 0;
     padding: 0 0;
     width: 680px;
     position: relative;
     text-align: center;
     border: white solid thin;
     
     ">
         <h3 style="text-align: center;font-weight: 900;margin-bottom: 0px;" >{{alumno_examen.alumno.sede}}.</h3>
         <h6 style="text-align: center;font-weight: 900;margin-bottom: 0px;" >HOJA DE BORRADOR DEL ALUMNO: {{alumno_examen.alumno}} .</h6>
         <hr>
         
    
</div>
<div style="height: 40px;">
</div>
</div>
<div class="footer-div"></div>

