<div class="btn-group pull-right" style="margin-top:20px;">
                    <a data-original-title="Align Left (Ctrl/Cmd+L)" class="btn btn-sm btn-primary " data-edit="justifyleft"
                       title="" onclick="procesarEliminar({{padre_id}});">
                        <i class="icon-trash"></i> Borrar
                    </a>
                    <a data-original-title="Center (Ctrl/Cmd+E)" class="btn btn-sm btn-primary" data-edit="justifycenter"
                       title="" onclick="procesarNewEdit({{padre_id}});">
                        <i class="icon-edit"></i> Editar
                    </a>
                    <a data-original-title="Align Right (Ctrl/Cmd+R)" class="btn btn-sm btn-primary" data-edit="justifyright" title="" onclick="newPlanArea();">
                        <i class="icon icon-stop"></i> Nuevo
                    </a>
                    
                    
</div>
<div class="clearfix"></div>
{{contenido|raw}}