{%if evaluado is null%}
<span style="font-size: 10px;color: red;">
    (No evaluado
         <i class="icon icon-remove-circle red"></i>)
</span>
{%else%}
<span style="font-size: 11px;color: green;">
    (Evaluado <i class="icon icon-check green"></i>)
</span>   

{%endif%}