<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE pdf SYSTEM "%resources%/dtd/doctype.dtd">
<pdf>
    
    <dynamic-page page-size="letter-landscape"> 
        <table>
            {%for n in notas_promedios%}
                <tr>
                    <td>{{n.alumno}}</td>
                    <td>{{n.dimension.padre}}</td>
                    <td>{{n}}</td>
                    <td>{{loop.index0+1}} Puesto</td>
                </tr>
            {%endfor%}
        </table>

     </dynamic-page>
    
</pdf>            