
        <table>
            <tr>
                <td>Nombre Estudiante</td>   
                <td>Año matriculado</td>
                <td>Matriculado ?</td>
            </tr>    
        {%for alumno in alumnos%}        
            <tr>
                <td>       
                   {{alumno}} 
                </td>                
                    {%for ma in alumno.getMatriculaAlumno()%}
                        {%if ma.ano.id==id_ano_escolar%}
                            <td>{{ma.ano}}</td>
                            <td>
                                {%if ma.getEsMatricula()==TRUE%}
                                Matriculado
                                {%endif%}    
                            </td>
                        {%endif%}
                    {%endfor%}    
                
            </tr>                    
        {%endfor%}    
