<h5>Generar Carga Academica Automaticamente!!!</h5>

{#<form action="{{ path('cargaacademica_create') }}" method="post" {{ form_enctype(form) }}>
 #}   {{ form_widget(form) }}
    <p>
        <a href="#" >Create</a>
    </p>
{#</form>#}

<ul class="record_actions">
    <li>
        <a href="{{ path('cargaacademica') }}">
            Back to the list
        </a>
    </li>
</ul>
