<h4>Fecha de Entrega de Profesores</h4>

    {{ form_label(edit_form.fecha_inicio, null, { 'label': 'Fecha De Inicio:', 'attr': {'for': 'xlInput'} }) }}            
    {{ form_widget(edit_form.fecha_inicio) }} 
    {{ form_label(edit_form.fecha_final, null, { 'label': 'Fecha Final:', 'attr': {'for': 'xlInput'} }) }}            
    {{ form_widget(edit_form.fecha_final) }} 
    
