<h3 style="text-align: center;">Crear Publicación Para El Muro.</h3>

<form id="form_crear_auditoria" name="form_crear_auditoria" >
    {{ form_widget(form) }}
    <p>
        <button type="submit" onclick="createAuditoria();" class="btn">Crear Ahora.</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="#" >
            Ir Atras.
        </a>
    </li>
</ul>
