<div id="div_adicionar_compo" > 
<h4>Modelo de evaluación.</h4>
<div class="col-md-10" style="font-size: 10px;">
<table class="table table-bordered">
    <tr>
        <td>
            <input  type="text" name="name_componente" id="name_componente" placeholder="Ej: Comp Coginitivo.">
            <input style="width: 50px;" type="text" id="porcentaje" name="porcentaje" placeholder="Ej: 30%">
            <input style="width: 50px;" type="hidden" name="padre" id="padre" value="0">
            
            <button onclick="procesarAdiciones(7);">
                agregar
            </button>
        </td>
        <td>Final De Periodo</td>
    </tr>
    <tr>
        <td>
            <button  onclick="procesarAdiciones(3);" class="btn btn-info btn-xs">
                Agregar Fallas
            </button>
        </td>
        <td> </td>
    </tr>
</table>            
</div>
 
</div>