{%for comp in componentes_items%}
<li class="parent_li items" id="item_{{comp.id}}">
    <span class="items_remoto" title="Collapse this branch">
    {{comp}}</span>
    <a href="#">Ver lista</a>
  </li>
{%endfor%}
 